{% extends 'base.html' %}

{% block content %}

<h1>Prescriptions</h1>

<a href="{% url 'add_prescription' %}">
Add Prescription
</a>

<table border="1">

<tr>
<th>Patient</th>
<th>Doctor</th>
<th>Diagnosis</th>
<th>Medicines</th>
<th>Actions</th>
</tr>

{% for prescription in prescriptions %}

<tr>

<td>{{ prescription.patient }}</td>

<td>{{ prescription.doctor }}</td>

<td>{{ prescription.diagnosis }}</td>

<td>{{ prescription.medicines }}</td>

<td>

<a href="{% url 'edit_prescription' prescription.id %}">
Edit
</a>

<a href="{% url 'delete_prescription' prescription.id %}">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
